.user-dashboard {
  display: flex;
  height: 100vh;
}

.user-dashboard .content {
  flex: 1;
  padding: 20px;
  position: relative;
  top: 150px;
}

.user-dashboard-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 150px;
  z-index: 100;
  position: absolute;
  margin-left: 680px;
}