.user-dashboard {
  overflow: hidden;
  display: flex;
  height: 100vh;
}

.user-dashboard .content {
  flex: 1;
  padding: 20px;
  position: relative;
  top: 150px;
  padding-top: 0;
}

.dashboard-title {
  color: #6093cf;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}
