.edit-subobjectives-content-wrapper {
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
}

.action-button {
  padding: 10px 20px;
  background-color: #6093cf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #4a7ab3;
}

.subobjective-item {
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.subobjective-item.selected {
  background-color: #e0f7fa; /* Light blue for selected item */
}

.subobjective-item.selected {
  color: white;
}

.action-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  max-height: calc(100vh - 200px); /* Ajustează înălțimea maximă pentru a preveni overflow-ul */
  overflow-y: auto; /* Permite scroll doar dacă este necesar */
}

.add-button,
.grade-button,
.delete-button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-button:hover,
.grade-button:hover,
.delete-button:hover {
  background-color: #4a7ab3;
}

.grade-button {
  background-color: #28a745;
}

.grade-button:hover {
  background-color: #218838;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
}

.subobjectives-title {
  color: white;
}

.select-subobjectives-container button {
  padding: 10px 20px;
  background-color: #BEBEBE;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.select-subobjectives-container button:hover {
  background-color: #7F7F7F;
}

.select-subobjectives-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.multi-select-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
