.objectives-container {
    position: relative;
    min-height: 100vh;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.user-info {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
    color: #333;
}

.user-info-text {
    font-size: 20px;
    color: #333;
}

.cardboard-container {
    margin-top: 1px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card h2 {
    color: #ffffff;
    text-align: center;

}

.card p {
    color: #ffffff;
    text-align: center;
}

.objective-item,
.subobjective-item {
    cursor: pointer;
    padding: 5px;
    color: white;
}

.objective-item.selected,
.subobjective-item.selected {
    background-color: rgba(255, 255, 255, 0.2);
}

.objectives-title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}
