.objectives-container {
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.user-info {
  font-size: 18px;
  color: white;
  margin-bottom: 50px;
}

.user-info-text {
  font-size: 20px;
  color: #333;
}

.cardboard-container {
  margin-top: 1px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card h2 {
  color: #ffffff;
  text-align: center;

}

.card p {
  color: #ffffff;
  text-align: center;
}

.objective-item,
.subobjective-item {
  cursor: pointer;
  padding: 5px;
  color: white;
}

.objective-item.selected,
.subobjective-item.selected {
  background-color: rgba(255, 255, 255, 0.2);
}

.objectives-title {
  margin-top: 18px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.objective-status-container {
  color: #ffffff;
  text-align: center; /* Centers the text */
  white-space: normal; /* Allows text to wrap within the container */
  word-wrap: break-word; /* Breaks long words to prevent overflow */
  overflow-wrap: break-word; /* Ensures proper wrapping of long words */
  overflow-x: hidden; /* Hides horizontal overflow to prevent scrollbar */
  overflow-y: auto; /* Allows vertical scrolling if needed */
  max-width: 90%; /* Ensures content does not exceed the card width */
  margin-left: 19px;
  box-sizing: border-box; /* Includes padding in the element's total width */
  justify-content: center;
  align-items: center;
  /* border: 3px solid black; */
}
.card{
  overflow-x: hidden; /* Hides horizontal overflow to prevent scrollbar */
  overflow-y: auto; /* Allows vertical scrolling if needed */
  max-width: 90%;
}
