.card {
    width: 350px;
    height: 500px;
    background: #6093cf;
    border-radius: 40px 0 40px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.card h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.subobjectives-list {
  list-style-type: none;
  padding: 0;
}

.subobjective-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subobjective-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.subobjective-item.selected {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

.grade-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}