.user-dashboard {
  display: flex;
  height: 100vh;
}

.profile-page .content {
  flex: 1;
  padding: 20px;
  margin-left: 100px;
}

.profile-page {
  width: 100%;
  height: 100vh;
}

.profile-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 20px;
  overflow-y: auto;
  padding-top: 2px;
}

.image-and-modify-container {
  display: inline-block;
  flex-direction: column;
  align-items: center;
}

.profile-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80%;
}

.profile-image {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 60px;
  margin-top: 10px;
}

.modify-password-container {
  margin-top: 0;
  margin-left: 0;
}

.modify-password-button {
  background-color: #6296CD;
  color: white;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  padding: 8px 20px;
  font-size: 16px;
  font-family: 'Krona One';
  width: 200px;
  height: 30px;
  margin:0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  padding: 0;
  margin-left: 100px;
  margin-bottom: 10px;
}

.profile-table-container {
  display: inline-block;
  align-items: center;
  margin-left: 150px;
  margin-top: 250px;
  position: relative;
}
.profile-table {
    display: inline-block;
    background-color: #6296CD;
    border-radius: 10px;
    color: white; 
    padding: 20px;  
    margin-left: 0;
    width: 500px;
  }
  
  .profile-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .profile-table tr {
    border-bottom: 1px solid white;
  }
  
  .profile-table tr:last-child {
    border-bottom: none;
  }
  
  .profile-table td {
    padding: 10px 0;
  }
  
  .profile-table td:last-child {
    text-align: right;
  }
  .profile-title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 32px;
    font-weight: bold;
    color: white;
    z-index: 20;
    margin-left: 400px;
    margin-top: 50px;
  }