.profile-page {
  height: 100vh;
}

.profile-content {
  display: flex;
  justify-content: center;
  position: relative;
  top: 250px;
}

.image-and-modify-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 150px;
}

.image-and-modify-container * {
  padding: 20px;
  margin-left: 100px;
}

.profile-image {
  width: 230px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.modify-password-button{
  background-color: #6296cd;
  color: white;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  padding: 0;
}
.modify-password-button:hover {
  background-color: #6296CD; 
  border: none;
  filter: brightness(1.2);
  transition: filter 0.3s ease;
}
.modify-password-button:active {
  background-color: #2a9d8f;
  border: none;
  transform: scale(0.95);
  box-shadow: none;
  outline: none;
}

.profile-title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #6093cf;
  z-index: 20;
  margin-left: 680px;
  margin-top: 130px;
}
.profile-pic-header {
  position: absolute;
  width: 50px;
  z-index: 10;
  object-fit: cover;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.profile-username {
  position: absolute;
  margin-left: 90px;
  margin-top: 20px;
  z-index: 20;
  color: white;
  font-size: 20px;
  font-family: "Krona One";
  cursor: pointer;
}

.navbar {
  margin-top: 150px;
}
.profile-table-container {
  margin-top: 60px;
  margin-left: 30px;
  width: 500px;
  display: inline-block;
}
.profile-table {
  width: 500px;
}