.btn-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 7px;
    right: 20px;
    z-index: 1;
    width: 100px;
    height: 50px;
}
  
.btn-container button {
    background-color: #6093cf;
    border: 2px solid #6093cf;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    transition: all 0.3s ease;
    position: relative; 
    z-index: 10;
    width: 100px;
    height: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-container button.selected {
    background-color: #7ba3e1;
    border: 2px solid #7ba3e1;
    color: white;
}

.btn-container button:hover {
    background-color: #7ba3e1;
    border: 2px solid #7ba3e1;
    color: white;
    transform: scale(1.1);
}
