.modify-password-form-container {
    position: absolute;
    top: 200px;
    left: 200px;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 20px;
    overflow-y: auto;
    padding-top: 2px;
    flex: 1;
    margin-left: 400px;
}
.modify-password-label {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    display: block;
}
.old-password-input ,.new-password-input ,.confirm-new-password-input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: block;
    background-color: #f8edeb;
    margin-left: 60px;
}

.old-password-input::focus,.new-password-input::focus,.confirm-new-password-input::focus,
.old-password-input::hover,.new-password-input::hover,.confirm-new-password-input::hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
    display: block;
    background-color: #f8edeb;
}
.modify-password-button-modifypasswordpage {
    display: inline-block;
    background-color: #6296CD;
    color: white;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 16px;
    font-family: 'Krona One';
    width: 150px;
    height: 30px;
    margin-top: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1;
    margin-left: 0;
    margin-bottom: 20px;
    margin-right: 30px;
}
.modify-password-button-modifypasswordpage:hover {
    background-color: #6296CD; 
    border: none;
    filter: brightness(1.2);
    transition: filter 0.3s ease;
}
.modify-password-button-modifypasswordpage:active {
    background-color: #2a9d8f;
    border: none;
    transform: scale(0.95);
    box-shadow: none;
    outline: none;
}
.cancel-password-button-modifypasswordpage {
    display: inline-block;
    background-color: #ef233c;
    color: white;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 16px;
    font-family: 'Krona One';
    width: 150px;
    height: 30px;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1;
    margin-left: 0;
    margin-bottom: 20px;
}
.cancel-password-button-modifypasswordpage:hover {
    background-color: #ef233c; 
    border: none;
    filter: brightness(1.2);
    transition: filter 0.3s ease;
}
.cancel-password-button-modifypasswordpage:active {
    background-color: #ef233c;
    border: none;
    transform: scale(0.95);
    box-shadow: none;
    display: block;
    justify-content: space-between;
    align-items: center;
}
.buttons-container {
    display: block;
    justify-content: space-between;
    align-items: center;
}
.modify-password-button-container-modifypasswordpage {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}
.cancel-password-button-container-modifypasswordpage {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}   

.modify-title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 32px;
    font-weight: bold;
    color: white;
    z-index: 20;
    margin-left: 400px;
    margin-top: 50px;
}